.main {
    display: flex;
    max-width: 1024px;
    flex-direction: column;
    margin: auto;
}

.user .username {
    color: #ff0101;
}

.user h1 {
    font-size: 48px;
    font-weight: 500;
}

.user p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

.graph {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.graph-bottom {
    display: flex;
    flex-direction: row;
    gap: 30px;
}