.sidenav {
    background-color: #020203;
    display: flex;
    flex-direction: column;
    max-width: 117px;
    padding: 27px;
    position: absolute;
    height: 100%;
}

.sidenav .sportlist-item, .sidenav .sportlist-copyrights {
    margin-right: auto;
    width: 64px;
    height: 64px;
}

.sidenav #sportlist-item-yoga {
    margin-top: 200px;
}

.sidenav .sportlist-item {
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.sidenav .sportlist-item img {
    margin: auto;
}

.sidenav .sportlist-copyrights {
    transform: rotate(-90deg);
    font-size: 12px;
    white-space: nowrap;
    margin: 0;
    color: #ffffff;
    position: absolute;
    bottom: 200px;
    left: 50px;
}

@media (max-width: 1315px) {
    .sidenav #sportlist-item-yoga {
        margin-top: 0;
    }
}