.sidenav {
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0;
    background-color: #020203;
    padding-top: 20px;
}